<%- include('./partials/header.ejs') %>
<div class = "content-general">
    <h3 >Contact Us</h3>
    <form class="form-general" >
        
      <div class="card-view" >
        
        <table>
            <tr>
                <td><label for="name">Application Handled By:</label></td>
                <td><label for="name">Asritha Cherukuri</label></td>
            </tr>
            <tr>
                <td><label for="name">Office Hours:</label></td>
                <td><label for="name">Mon-Fri: 9:00am- 5:00pm</label></td>
          </tr>
            <tr>
                <td><label for="name">Contact Details</label></td>
                <td><label for="name">+1-(971)-408-9834,acheruk4@uncc.edu</label></td>
            </tr>
            
        </table> 
      </div>       
    </form>
  
    </div>
  <%- include('./partials/footer.ejs') %>