<%- include('./partials/header.ejs') %>
    <div class="index">
      
      <div class="card-body">
        <h1>You landed on error page!</h1>
        <h4><%= error.status %>: &nbsp;<%= error.message %></h4> 
      </div>
    </div>
    <%- include('./partials/footer.ejs') %>
  
    
    
    
