<%- include('./partials/header.ejs') %>
    <div class="index">
      <img class="card-index" src="/images/pic1.jpg" alt="Card image">
      <div class="card-body">
        <h2>Welcome to GoGreen Trading</h2>
        <p>where plant enthusiasts of all kinds gather in person<br>to exchange plants and information.</p>  
      </div>
    </div>
    <%- include('./partials/footer.ejs') %>
  
    
    
    
