<%- include('./partials/header.ejs') %>
<link rel="stylesheet" href="/css/newTrade.css">
  <!-- <div class="main">
  
    <form action='/trades' method="POST">
      <h2 class="headingform">Create New Trade</h2>
      <div class="form-details">
      <div class="form-group">
        <label for="name">Plant Name:</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="enter plant name">
      </div>
      <div class="form-group">
        <label for="details">Details:</label>
        <input type="text" class="form-control" id="details" name="details" placeholder="enter plant Details like age..">
      </div>
      <div class="form-group">
        <label for="status">Status:</label>
        <input type="text" class="form-control" id="status"  name="status" placeholder="Intrade/Outoftrade">
      </div>
      <div class="form-group">
        <label for="image">Image:</label>
        <input type="url" class="form-control" id="image"  name="image" placeholder="image">
      </div>
      <div class="form-group">
        <label for="category">Plant Category:</label>
        <select class="form-control" id="category"   name="category">
          <option>-select category-</option>
          <option>Medical</option>
          <option>Cactus</option>
          <option>Succulent</option>
          <option>Indoor</option>
          
        </select>
      </div> -->
     
      <!-- <div class="form-group-button">
        
        
      
      </div> -->
    <!-- </div>
    <button type="button"  class="btn btn-success">Success</button>
    </form>
</div> -->
<div class = "content">
  <form action = '/trades' method = 'POST'>
    <div class="card-view" >
      <table>
          <tr>
              <td><label for="name">Plant Name:</label></td>
              <td><input type="text" class = "fixed-width" id="name" name="name" placeholder="enter plant name" required></td>
          </tr>
          <tr>
            <td><label for="details">Plant Age:</label></td>
            <td><input type="text" class = "fixed-width" id="age" name="age" placeholder="enter plant Age" required></td>
        </tr>
          <tr>
              <td><label for="details">Details:</label></td>
              <td><input type="text" class = "fixed-width" id="details" name="details" placeholder="enter plant Details" required minlength="10"></td>
          </tr>
          <tr>
              <td ><label for="status">Status:</label></td>
              <td><input type="text" class="form-control" id="status"  name="status" placeholder="Available" required></td>
          </tr>
          
        <tr>
          <td ><label for="image">Image:</label></td>
          <td><input type="url" class="form-control" id="image"  name="image" placeholder="Image" required></td>
      </tr>
      
      <tr>
        <td ><label for="category">Plant Category:</label></td>
        <td><input type="text" class="form-control" id="category"   name="category" placeholder="Indoorplants/Cactus" required></td>
    </tr>
    <tr>
      <td ><label for="topic">Plant Topic:</label></td>
      <td><input type="text" class="form-control" id="topic"   name="topic" placeholder="Please enter the topic" required></td>
  </tr>
          <tr>
              <td colspan="2" class = "align-right"><button>Submit</button></td>
          </tr>
      </table> 
    </div>       
  </form>

  </div>
<%- include('./partials/footer.ejs') %>

     

